h2,
h4{
    text-align: center;
}

.dev{
    color: $accent;
}
.aboutName{
    color:white;
    margin-bottom: 1px;
}

.aboutFlexParent{
    display: flex;
    justify-content: space-between;
    height: 100%;
    margin-bottom: 50px;
}

.imageParent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: auto;
    img{
        width: 55%;
        height: 25%;
        border: 10px solid $accent;
        border-bottom: 50px solid $accent;
        border-radius: 2px;
        box-shadow: -10px 10px 15px black;
        transition: all 0.7s;
        object-fit: cover;
    }
    img:hover{
        z-index: 10;
        transform: scale(1.7);
    }
    .image3{
        transform: rotate(40deg);
    }
    .image1{
        transform: rotate(-20deg);
    }
}

.aboutParent{
    display: flex;
    flex-direction: column;
    width: 55%;
    height: 100%;
    padding: 20px;
    box-shadow: -10px 10px 15px black;
    h4{
        margin-bottom: 20px;
    }
    .resume{
        text-align: center;
        margin-top: 20px;
        font-size: 0.9rem;
        width: 45%;
    }
}
.aboutFirstChild{
    margin-bottom: 20px;
}

.hobbies{
    margin-top: 20px;
}

.hobbiesChild{
    margin-top: 10px;
    height: 15%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    p{
        text-align: center;
        width: calc(100% / 2);
        font-size: 0.8rem;
    }
}

.educationChild{
    text-align: center;
    p{
       font-size: 0.8rem; 
    }  
}
