h2,
h4{
    text-align: center;
}
.aboutName{
    color:white;
    // possible line height/ letter-spacing
}

.aboutFlexParent{
    display: flex;
    justify-content: space-between;
    height: 100%;
    margin-bottom: 50px;
}

.imageParent{
    display: flex;
    align-items: center;
    width: 35%;
    position: relative;

    img{
        width: 75%;
        border: 10px solid white;
        border-bottom: 50px solid white;
        border-radius: 2px;
        transition: all 0.7s;
        position: absolute;
    }
    img:hover{
        z-index: 10;
        transform: scale(1.5);
    }

    .image1{
        left: 90px;
        transform: rotate(40deg);
    }

    .image2{
        left: 50px;
        top: 100px;
    }

    .image3{
        right: 150px;
        transform: rotate(-20deg);
    }
}

.aboutParent{
    width: 55%;
    height: 100%;
    padding: 20px;
    box-shadow: -10px 10px 15px black;
    h4{
        margin-bottom: 20px;
    }
}

.aboutFirstChild{
    margin-bottom: 20px;
}

.hobbies{
    margin-top: 10px;
    height: 15%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    p{
        text-align: center;
        width: calc(100% / 2);
        font-size: 0.8rem;
    }
}

.education{
    text-align: center;
    p{
       font-size: 0.8rem; 
    }
   
}