// NAV Animations 
.navigation .navBar{
    .menu:hover{
        color: $tertiary;
        border-bottom: 2px solid $tertiary;
    }
}

// HEADER PAGE ANIMATION
@keyframes scrollArrow {
    0% {
            margin-bottom: 10px;
        }
    
        20%,
        40%,
        60%,
        80% {
            margin-bottom: 30px;
        }
    
        10%,
        30%,
        50%,
        70%,
        90% {
            margin-bottom: 10px;
        }
    
        100% {
            margin-bottom: 30px;
        }
}
.scrollDirection{
    animation: scrollArrow 10s ease-in-out infinite;
}

.headerName{
    transition: 1s;
}
.headerName:hover{
    background-color: white;
    color: $tertiary;
}

// Projects Page
.projectLinks{
    a:hover,:focus{
        color: $accent;
        background-color: $primary;
        transform: scale(1.1);
    }
}

// Contact Page / Resume anchor
.contactSubmit,
.resume{
    transition: all 0.4s;
}
 
.resume:hover,
.contactSubmit:hover{
    transform: scale(1.2);
    color: $accent;
    background-color: black;
}

.resumeAnchor:hover{
    color: $accent;
}