
// HEADER PAGE ANIMATION
@keyframes scrollArrow {
    0% {
            margin-bottom: 10px;
        }
    
        20%,
        40%,
        60%,
        80% {
            margin-bottom: 30px;
        }
    
        10%,
        30%,
        50%,
        70%,
        90% {
            margin-bottom: 10px;
        }
    
        100% {
            margin-bottom: 30px;
        }
}
.scrollDirection{
    animation: scrollArrow 10s ease-in-out infinite;
}

.headerName{
    transition: 1s;
}
.headerName:hover{
    background-color: white;
    color: $tertiary;
}

// Projects Page
.projectLinks{
    a:hover,:focus{
        color: $accent;
        border-bottom:2px solid $accent;
        transform: scale(1.1);
    }
}

// Contact Page / Resume anchor
.contactSubmit,
.resume{
    transition: all 0.4s;
}
 
.resume:hover,
.contactSubmit:hover{
    transform: scale(1.2);
    color: $accent;
    background-color: black;
}

.resumeAnchor:hover{
    color: $accent;
}


// 
.reveal {
    position: relative;
    opacity: 0;
}

.reveal.active {
    opacity: 1;
}

.active.fade-bottom {
    animation: fade-bottom 1s ease-in;
}

.active.fade-left {
    animation: fade-left 1s ease-in;
}

.active.fade-right {
    animation: fade-right 1s ease-in;
}

@keyframes fade-bottom {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-left {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-right {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}