html{
    scroll-behavior: smooth;
}
.skip-link {
    position: absolute;
    left: -2000px;
    top: 10px;
    background-color: black;
    color: white;
    z-index: 10;
    scroll-behavior: unset;

    &:focus {
        left: 0;
    }
}

.wrapper{
    max-width: 1200px;
    width: 75%;
    margin: 0 auto;
}

body,
a{
    color: white;
}

body{
    background-color: black;
}

img{
    max-width: 100%;
    display: block;
}
.aboutBackground{
    background-color: $quaternary;
}
.contactBackground {
    background-color:black;
    color: white;

}

.projectBackground {
    background-color: $quaternary;
}

.skillsBackground{
    background-color: black;
}

.sectionHeight{
    height: 100vh;
}

.contentSection {
    padding: 15px 0 15px 0;
}

span {
   color: $tertiary;
}

.title {
    margin: 20px 0px 50px 0;
}

.subHeading{
    border-bottom: 4px solid $accent;
    padding-bottom: 10px;
}
.resume,
.contactSubmit {
    width: 40%;
    align-self: center;
    background: black;
    border: none;
    border-radius: 5px 5px;
    text-transform: uppercase;
    padding: 15px 5px;
    color: white;
}
.scrollDirection{
    margin-bottom: 15px;
    color: $tertiary;
    font-size: 2rem;
    float: right;
    .scroll{
        border: 1px solid black;
        border-radius: 50%;
        padding: 10px;
        background-color: black;
        opacity: 0.5;
    }
    .scroll:hover{
        opacity: 1;
    }
}