.skip-link {
    position: absolute;
    left: -2000px;
    top: 10px;
    background-color: black;
    color: white;
    z-index: 10;

    &:focus {
        left: 0;
    }
}

html{
    scroll-behavior: smooth;
}
.wrapper{
    max-width: 1200px;
    width: 75%;
    margin: 0 auto;
}

body,
a{
    color: white;
}

img{
    max-width: 100%;
    display: block;
}

.firstBackground {
    background-color: $primary;
}

.secondBackground {
    background-color: $quaternary;
}

.sectionHeight{
    height: 100vh;
}

.contentSection {
    padding: 15px 0 15px 0;
}

span {
   color: $tertiary;
}

.title {
    margin: 20px 0px 50px 0;
}

.subHeading{
    border-bottom: 4px solid $accent;
    padding-bottom: 10px;
}
.resume,
.contactSubmit {
    width: 30%;
    align-self: center;
    background: $tertiary;
    border: none;
    border-radius: 5px 5px;
    text-transform: uppercase;
    padding: 10px 5px;
    color: white;
}
.scrollDirection{
    margin-bottom: 15px;
    color: $tertiary;
    font-size: 3rem;
    margin: 0 auto;
}