.contactMe{
    text-align: center;
    margin-bottom: 20px;
}

fieldset{
    max-width: 600px;
    min-width: 200px;
    margin: 0 auto;
    padding: 20px;
    background-color: $quaternary;
    box-shadow: -12px 12px 8px 0 rgba(0, 0, 0, 0.5);
    border: none;
    form{
        display: flex;
        flex-direction: column;
    }
    input,
    textarea{
        margin-bottom: 20px;
        resize: none;
        padding: 10px;
    }

    label{
        margin-bottom: 5px;
    }
}

.scrollTop{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 60px 0px;
    h4{
        font-size: 1.2rem;
    }
}

.scrollDirection:hover{
    color: $accent;
}