header{
    background-image: url(../assets/toronto-cn-tower.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    a{
        align-self: flex-end;
    }
}


.mainHeading{
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.beforeTitle{
    margin-bottom: 0px;
    font-size: 2.3rem;
    line-height: 38px;
}

.period{
    color: white;
}


.headerName{
    align-self: flex-start;
    width: fit-content;
    border: 1px solid rgb(76, 32, 32);
    border-radius: 5px 5px;
    background-color: $tertiary;
    padding: 5px 10px;
}

.headerPortfolio{
    font-family: 'Londrina Outline', cursive;
    font-size: 10rem;
    text-transform: uppercase;
    transform: rotate(-20deg);
    position: absolute;
    top: 400px;
    left: 15px;
    z-index: 10;
    color: red;
    opacity: 0.1;
}
