@media (max-width: 1200px) {
    //START ICON ASIDE MEDIA QUERIES
    .social {
        li{
            a:hover::before,
            a:focus::before {
                content: url('');
            }
        }
    }
    //END ICON ASIDE MEDIA QUERIES

    // START HEADER QUERIES
        .mainHeading{
            .headerPortfolio{
                top: 200px;
                font-size: 7rem;
            }
        }
    // END HEADER QUERIES

    //START ABOUT SECTION MEDIA QUERIES 
    .aboutFlexParent{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        .aboutParent {
            width: 100%;
        }        
        .imageParent{
            flex-direction: row;
            margin: 50px 0;
            width:70%;
            img{
                border-bottom: 30px solid whitesmoke;
                transition: all 0.7s;
            }
            img:hover{
                transform: scale(0.9);
                border-bottom: 50px solid whitesmoke;
            }
            .image1{
                transform: rotate(-10deg);  
            }
            .image3{
                transform: rotate(20deg);
            }
       }
    }  
    // END ABOUT SECTION MEDIA QUERIES

    // START SKILLS SECTION MEDIA QUERIES 
    .techSkillsContainer{
        .techSkillsChild{
            width: calc(100% / 4);
        }
    }
    // END SKILLS SECTION MEDIA QUERIES

    // START PROJECT SECTION MEDIA QUERIES

        .projectItem{
            margin: 10px 0;
            width: 80%;
        }
        .projectPic{
            width: 50%;
        }
    
    // END PROJECT SECTION MEDIA QUERIES 
}
// END 1200px MEDIA QUERY


// START 715px MEDIA QUERY
@media (max-width: 715px){
    //START NAV MEDIA QUERIES
    .navigation{
        background-color: unset;
    }

    .navDiv {
        align-items: unset;
        justify-content: unset;
    }

    nav {
        .showMe {
            visibility: visible;
        }

        input {
            position: absolute;
            right: 0;
        }
        
        .navBar {
            flex-direction: column;
            justify-content: center;
        }
        
        input[type="checkbox"]:checked~.slideOut {
            left: 0;
            z-index: 4;
        }
        
        label[for="toggle"] {
            position: fixed;
            color: $tertiary;
            top: 10px;
            left: 15px;
            z-index: 5;
            font-size: 2rem;
        }
        
        .slideOut {
            position: fixed;
            width: 100vw;
            left: -110%;
            background-color: $primary;
            opacity: 0.95;
            height: 100vh;
            transition: 0.5s;
        }
        
        .slideOut li {
            width: 100%;
        }
        
        .slideOut a {
            display: inline-block;
            text-align: center;
            width: 100%;
            padding: 10px;
            font-size: 2rem;
        }
    }
    //END NAV MEDIA QUERIES

    // START HEADER QUERIES
    .mainHeading {
        .headerPortfolio {
            font-size: 5rem;
        }
    }    
    // END HEADER QUERIES

    // START ABOUT MEDIA QUERIES
    .contentSection{
        .hobbies, .education{
            width: 100%;
        }
    }
        
    .resumeAnchor{
        font-size: 0.7rem;
    }
    // END ABOUT MEDIA QUERIES

    //START SKILLS SECTION MEDIA QUERIES
    .techSkillsContainer {
        .techSkillsChild {
            width: calc(100% / 3);
        }
    }
    // END SKILLS SECTION MEDIA QUERIES

    // START PROJECT SECTION MEDIA QUERIES
       div .slideshowContainer{
           padding: 10px 10px;
           
        }
    // END PROJECT SECTION MEDIA QUERIES
}


// END 715px MEDIA QUERY


// START 500px MEDIA QUERY
@media(max-width:500px){
    //START NAV MEDIA QUERIES
    .navigation {
        .navBar {
            li {
                margin: 10px 4px 0px 4px;
                font-size: 0.8rem;
            }
        }
    }
    //END NAV MEDIA QUERIES

    // START HEADER QUERIES
    .mainHeading {
        .beforeTitle{
            font-size: 2rem;
        }
        h1{
            font-size: 2.8rem;
        }
        .headerPortfolio {
            font-size: 3rem;
        }
    }
    // END HEADER QUERIES

    //START ABOUT SECTION MEDIA QUERIES
    .aboutFlexParent{
        .aboutParent{
            .resume {
                width: 200px;
            }
        }
        .imageParent{
            flex-direction: column;
            img:hover{
                transform: scale(1);
            }
        }
    }
    .hobbies{
        .hobbiesChild{
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: center;
        }
    }
    // END ABOUT SECTION MEDIA QUERIES

    //START SKILLS SECTION MEDIA QUERIES 
    .techSkillsContainer {
        .techSkillsChild {
            width: calc(100% / 2);
        }
    }
    // END SKILLS SECTION MEDIA QUERIES

    //START PROJECT SECTION MEDIA QUERIES 
    
        .projectPic {
            width: 80%;
        }
        .projectLinks{
            a{
                padding: 5px 1px;
                font-size: 0.9rem;
                margin: 0 10px;
                text-align: center;
            }
        }
    
    // END PROJECT SECTION MEDIA QUERIES

    // START FOOTER MEDIA QUERIES
    footer{
        p{
            font-size: 0.8rem;
        }
    }
    // END FOOTER MEDIA QUERIES
}
// END 500px MEDIA QUERY


// START 340px MEDIA QUERY
@media(max-width:340px){    
    // START HEADER QUERIES
    .mainHeading {
        .beforeTitle {
            font-size: 1.8rem;
        }  
        h1 {
            font-size: 2.6rem;
        }
    }
    // END HEADER QUERIES

    // SKILLS SECTION MEDIA QUERIES START
    .techSkillsContainer {
        .techSkillsChild {
            i {
                font-size: 2.2rem;
            }
        }
    }
    // END SKILLS SECTION MEDIA QUERIES
}