.navigation{
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: $quaternary;
}
.navBar{
    display: flex;
    justify-content: center;

    li{
        margin: 10px 15px 0px 15px;
    }
}

