input[type=checkbox] {
    opacity: 0;
    &:focus+label {
        border: 1px dotted $primary;
        color: blue;
    }
}

nav {
    input {
        position: absolute;
        left: 0;
    }

    .navBar {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    input[type="checkbox"]:checked~.slideOut {
        left: 0;
        z-index: 30;
    }

    label[for="toggle"] {
        position: fixed;
        color: $tertiary;
        top: 10px;
        left: 15px;
        z-index: 40;
        font-size: 3rem;
    }

    .slideOut {
        position: fixed;
        width: 100vw;
        left: -130%;
        background-color: $primary;
        opacity: 0.95;
        height: 100vh;
        transition: 0.6s;
        z-index: 10;
    }

    .slideOut li {
        width: 100%;
        margin: 20px;
    }

    .slideOut a {
        display: inline-block;
        text-align: center;
        width: 100%;
        font-size: 1.3rem;
    }
}

