.projectParent{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    box-shadow: -10px 10px 15px black;
    margin-bottom: 50px;
    li{
        color: white;
        margin: 50px 10px;
        width: calc((100% / 2) - 100px);
        height: 100%;
    }
    img{
        height: 100%;
    }

    li:nth-child(2),
    li:nth-child(3),
    li:nth-child(6),
    li:nth-child(7) {
        border-bottom: 4px solid $accent;
        box-shadow: -1px 1px 15px black;
        padding: 20px 10px;
    }
    
    li:nth-child(1),
    li:nth-child(4),
    li:nth-child(5),
    li:nth-child(8) {
        box-shadow: -1px 0px 5px $accent;
    }
}

 .itemGrow {
     flex: 1 1 auto;
     p{
        a:hover,:focus{
            border-bottom: 2px solid white;
        }
     }
 }

.projectItem{
    position: relative;
}

.projectPic{
    img{
        max-height: 500px;
        object-fit: contain;
    }
}
.overlay{
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    text-align: center;
}

.projectLinks{
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    margin-top: 20px;
    a{
        border-radius: 5%;
        box-shadow: -1px 1px 5px $tertiary;
        background-color: $tertiary;
        padding: 5px 15px;  
    }
}

.projectIcons{
    margin: 20px 5px;
    display: flex;
    justify-content: center;
    i{
        margin: 0px 10px 0px 10px;
    }
}

.overlay:hover{
    opacity: 0.6;
}

