.projectParent{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    box-shadow: -10px 10px 15px black;
    margin-bottom: 50px;
    li{
        color: white;
        margin: 50px 10px;
        width: calc((100% / 2) - 100px);
        height: 100%;
    }
}

.projectItem{
    position: relative;
}


.overlay{
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.projectLinks{
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    margin-top: 20px;
    a{
        border-radius: 5%;
        box-shadow: -1px 1px 5px $tertiary;
        background-color: $tertiary;
        padding: 5px 15px;  
    }
}

.projectIcons{
    margin: 20px 5px;
    display: flex;
    justify-content: center;
    i{
        margin: 0px 10px 0px 10px;
    }
}

.overlay:hover{
    opacity: 0.6;
}

