.techSkillsContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: fit-content;
    width: fit-content;
    padding: 20px;
    margin-bottom: 50px;
    box-shadow: -10px 10px 15px white;
}

.skillsSection{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.techSkillsChild{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
    width: calc(100% / 5);
    transition:all 2s;
    p{
        margin-top: 10px; 
        font-size: 0.9rem;
        text-align: center;
        transition: 1s;
    }
    i{
        font-size: 3rem;
    }
}

.terminal{
    color: rgb(1, 140, 1);
}

.gear{
    color: rgb(138, 61, 138);
}

.mobile{
    color: lightblue;
}

.access{
    color: rgb(104, 104, 207);
}

.pair{
    color: silver;
}