html{
    font-size: 125%;
}

body{
    font-family: $bodyFont;
    font-size: 1rem;
}

h1,
h2,
h3,
h4{
    font-family: $headingFonts;
    margin: 0;
    color: $tertiary;
}

h1{
    font-size: 3.6rem;
}

h2{
    font-size: 2rem;
}

h4{
    font-size: 1.1rem;
}
p{
    line-height: 34px;
    letter-spacing: 1.5px;
}

ul,
li,
a,
p{
    margin: 0;
    padding: 0;
   
}

a{
    text-decoration: none;
    letter-spacing: 1px;
}

ul{
    list-style-type: none;
}

.social{
    i{
        font-size: 1.5rem;
    }
}