// FONT Variables
$backgroundFont: 'Londrina Outline', cursive;
$headingFonts: 'Asul', sans-serif;
$bodyFont: 'Chivo', sans-serif;

// COLOR Variables
$primary: #202020;
$secondary: #4f4f4f;
$tertiary:rgb(235, 0, 0);
$quaternary: #1a1a1a;
$quinary: rgb(144, 35, 35);
$accent: goldenrod;
// $primary: #323545;
// $secondary: #b1bbec;
// $tertiary:#536ade;
// $quaternary: #3c457d;
// $quinary:#e6e8f4;
